.logo{
	height: auto;
	width: 15%;
	margin-top: 0.5em;
}

.construccion{
	height: auto;
	width: 75%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
}

.margen{
	margin-right: auto;
	margin-left: auto;
}

.subcatalog{
	margin-bottom: 2em;
	margin-top: 2em;
	align-content: center;
	text-align: center
}